html {
  overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
	width: 90%;
    max-width: 700px;
    margin: 0 auto;
	counter-reset: rule;
}

h1 {
    font-size: 24pt;
}

img {
    padding: 0px 25px;
}

p, table {
    font-size: 10pt;
}

a {
	color: #CC0000;
}

ol {
	font-size: 10pt;
	list-style: none;
	padding-left: 40px;
}

ol>li:before {
	counter-increment: rule;
	content: counter(rule) ". ";
	float: left;
	margin-left:-30px;
	width: 20px;
	text-align: right;
}

.project-title , h3{
	font-size: 12pt;
    font-weight: bold;
    color: #CC0000;
}

.paper-title {
	font-weight: bold;
	font-size: 10pt;
	color: #000000;
}

.paper-doi {
	font-size: 10pt;
}

.project-summary, .paper-authors {
	font-size: 10pt;
}

.project-collab {
	font-style: italic;
}

.paper-venue {
	font-size: 10pt;
	font-style: italic;
}

.projectimg {
	float: left;
	padding: 10px 25px 10px 0px;
	width: 135px;
}

.footer {
	font-size: 8pt;
}

